<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/css/dashboard.css' />
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Sansita" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/behaviors.js"></script>
  </head>
  <body>
    <nav>
      <h5>Main</h5>
      <a class="{{class1}}" href="/dashboard/main"><i class="fa fa-home" aria-hidden="true"></i><i class="text">General</i></a>
      <a class="{{class6}}" href="/dashboard/overview"><i class="fa fa-line-chart" aria-hidden="true"></i><i class="text">Overview</i></a>
      <h5>Members</h5>
      <a class="{{class7}}"href="/dashboard/admins"><i class="fa fa-lock" aria-hidden="true"></i><i class="text">Admins</i></a>
      <a class="{{class2}}" href="/dashboard/clients"><i class="fa fa-users" aria-hidden="true"></i><i class="text">Users</i></a>
      <h5>Content</h5>
      <a class="{{class9}}" href="/dashboard/upload"><i class="fa fa-upload" aria-hidden="true"></i><i class="text">Upload</i></a>
      <a class="{{class3}}" href="/dashboard/products"><i class="fa fa-trophy" aria-hidden="true"></i><i class="text">Games</i></a>
      <a class="{{class4}}" href="/dashboard/posts"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><i class="text">Posts</i></a>
      <a class="{{class10}}" href="/dashboard/layout"><i class="fa fa-sliders" aria-hidden="true"></i><i class="text">Layout</i></a>
      <h5>Controlles</h5>
      <a class="{{class11}}" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i><i class="text">Back</i></a>
      <a class="{{class12}}" id="last" href="/users/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><i class="text">Sign Out</i></a>
    </nav>
    <div class="dash-view">
      {{{body}}}
    </div>
  </body>
</html>
